* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Berkshire Swash", sans-serif;
}

body {
  background-image: url(img/002.jpg);
  background-size: cover;
}

.start_btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow:
    0px 4px 8px 0 rgba(0, 0, 0, 0.2),
    0px 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease;
}
.start_btn.activeStart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow:
    0px 4px 8px 0 rgba(0, 0, 0, 0.2),
    0px 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease;
}

.info_box,
.quiz_box,
.result_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow:
    0px 4px 8px 0 rgba(0, 0, 0, 0.2),
    0px 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease;
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  z-index: 5;
}
/* Start quiz button styling*/
.start_btn button {
  font-size: 25px;
  font-weight: 600;
  color: black;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: lavender;
  cursor: pointer;
}

.info_box {
  width: 540px;
  background: lavender;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.info_box .info_title {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 500;
}
.info_box .info_list {
  padding: 15px 35px;
}

.info_box .info_list .info {
  margin: 5px 0;
  font-size: 17px;
}
.info_box .info_list .info span {
  font-weight: 600;
  color: #007bff;
}
.info_box .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 35px;
  border-top: 1px solid lightgray;
}
.info_box .buttons button {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons button.restart {
  color: #fff;
  background: #007bff;
}
.buttons button.restart:hover {
  background: #0263ca;
}
.buttons button.quit {
  color: #007bff;
}
.buttons button.quit:hover {
  color: #fff;
  background: #007bff;
}

.quiz_box {
  width: 550px;
  background: lavender;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.quiz_box header {
  position: relative;
  z-index: 99;
  height: 70px;
  padding: 0 30px;
  background: lavender;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}
.quiz_box header .title {
  font-family: "Fondamento", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.quiz_box header .timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
  height: 45px;
  background: #cce5ff;
  border: 1px solid #b8daff;
  border-radius: 5px;
  padding: 0 8px;
}
.quiz_box header .timer .time_text {
  font-weight: 400;
  font-size: 17px;
  user-select: none;
}

.quiz_box header .time_line {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #007bff;
  height: 3px;
}
.quiz_box header .timer .timer_sec {
  font-weight: 500;
  font-size: 18px;
  background: #343a40;
  width: 45px;
  height: 30px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #343a40;
  user-select: none;
}

.quiz_box section {
  padding: 25px 30px 20px 30px;
  background: lavender;
}
.quiz_box section .que_text {
  font-size: 25px;
  font-weight: 600;
}
.quiz_box section .option_list {
  padding: 20px 0;
  display: block;
}
section .option_list .option {
  background: aliceblue;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  padding: 8px 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 17px;
  transition: all 0.3s ease;
}
section .option_list .option:hover {
  color: #004085;
  background: #cce5ff;
  border-color: #b8daff;
}
section .option_list .option:last-child {
  margin-bottom: 0px;
}
section .option_list .option .icon {
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  pointer-events: none;
}
section .option_list .option .icon.tick {
  border-color: #23903c;
  color: #23903c;
  background: #d4edda;
}
section .option_list .option .icon.cross {
  border-color: #a42834;
  background: #f8d7da;
  color: #a42834;
}
section .option_list .option.correct {
  border-color: #23903c;
  color: #155724;
  background: #d4edda;
}
section .option_list .option.incorrect {
  border-color: #a42834;
  background: #f8d7da;
  color: #a42834;
}
section .option_list .option.disabled {
  pointer-events: none;
}
.quiz_box footer {
  height: 60px;
  padding: 0 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quiz_box footer .total_que span {
  display: flex;
  user-select: none;
}
footer .total_que span p {
  font-weight: 500;
  padding: 0 5px;
}
.total_que span p:first-child {
  padding-left: 0px;
}
footer .next_btn {
  display: none;
  height: 40px;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 400;
  border: none;
  outline: none;
  background: #007bff;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #007bff;
  cursor: pointer;
  transition: all 0.3s ease;
}
footer .next_btn:hover {
  background: #0263ca;
}

.result_box {
  background: #fff;
  width: 450px;
  padding: 25px 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
#crown {
  width: 50%;
  border-radius: 5px;
}
.result_box .complete_text {
  font-size: 20px;
  font-weight: 500;
}
.result_box .score_text p {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
.score_text span {
  font-weight: 600;
  padding: 0 4px;
}

.result_box .buttons {
  display: flex;
  margin: 20px 0;
}
.result_box .buttons button {
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #007bff;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media screen and (max-width: 480px) {
  .start_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:
      0px 4px 8px 0 rgba(0, 0, 0, 0.2),
      0px 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
    width: 70%;
  }
  .info_box,
  .quiz_box,
  .result_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:
      0px 4px 8px 0 rgba(0, 0, 0, 0.2),
      0px 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
    width: 80%;
  }
  .quiz_box section .que_text {
    font-size: 16px;
    font-weight: 600;
  }
  footer .next_btn {
    height: 40px;
    padding: 0 13px;
    font-size: 14px;
    font-weight: 400;
  }
  .quiz_box header .timer {
    margin-left: 2%;
    margin-right: 0%;
  }
  .quiz_box header .time_line {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0%;
    background: #007bff;
    height: 3px;
  }
  .info_box .info_list {
    padding: 15px 10px;
  }
  .info_box .info_list .info {
    margin: 0;
    font-size: 14px;
  }
}
